<h2>Harvesting</h2>
<ul>
  <li>
    <strong>URL to harvest Marc XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=marc2l</span>
  </li>
  <li>
    <strong>URL to harvest structural XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=structural&amp;image_id_prefix=IMAGE_ID_PREFIX</span>
  </li>
  <li>
    <strong>URL to harvest DLA-compliant XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=dla</span>
  </li>
  <li>
    <strong>URL to harvest OPenn-compliant XML (second argument optional)</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=openn&amp;image_id_prefix=IMAGE_ID_PREFIX</span>
  </li>
  <li>
    <strong>URL to construct/harvest IIIF presentation manifest for a Colenda repository</strong>
    <span>http://HOST:PORT/records/REPO_ID/create?format=iiif_presentation</span>
  </li>
</ul>

<h2>Rake Tasks</h2>
<ul>
  <li>
    <strong>Rake task to load structural data</strong>
    <span>rake marmite:index_structural[xlsx_dir,format]; supported formats: structural_ark</span>
  </li>
  <li>
    <strong>Rake task to load combined (bibliographic &amp; structural) data</strong>
    <span>rake marmite:index_combined[xlsx_dir,format]; supported formats: combined_ark</span>
  </li>
</ul>

<h2>Display</h2>
<ul>
  <li>
    <strong>URL to display XML:</strong>
    <span>http://HOST:PORT/records/ID/show?format=FORMAT</span>
  </li>
</ul>

<h2>Other Resources</h2>
<ul>
  <li><p><%= link_to('available_formats','List of valid formats here') %></p></li>
  <li><p><%= link_to('image_id_prefixes','List of valid SCETI Image Identifier prefixes here') %></p></li>
</ul>
