<h2>Harvesting</h2>
<ul>
  <li>
    <strong>URL to harvest Marc XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=marc2l</span>
  </li>
  <li>
    <strong>URL to harvest structural XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=structural&sceti_prefix=SCETI_PREFIX</span>
  </li>
  <li>
    <strong>URL to harvest DLA-compliant XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID/create?format=dla</span>
  </li>
</ul>

<h2>Display</h2>
<ul>
  <li>
    <strong>URL to display XML:</strong>
    <span>http://HOST:PORT/records/BIB_ID?format=FORMAT</span>
  </li>
</ul>

<h2>Other Resources</h2>
<ul>
  <li><p><%= link_to('available_formats','List of valid formats here') %></p></li>
  <li><p><%= link_to('sceti_prefixes','List of valid SCETI prefixes here') %></p></li>
</ul>