<h2>MARC XML Records (by bibID)</h2>
<ul>
  <% @marc21_records.each do |record| %>
      <li><%= link_to("records/#{record.bib_id}/show?format=marc21", "#{record.bib_id}") %></li>
  <% end %>
</ul>

<h2>Structural XML Records (by bibID)</h2>
<ul>
  <% @structural_records.each do |record| %>
      <li><%= link_to("records/#{record.bib_id}/show?format=structural", "#{record.bib_id}") %></li>
  <% end %>
</ul>