<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="<%= "#{url('/assets/application.css')}"%>">
  <link rel="icon" type="image/png" href="<%= "#{url('/assets/favicon.ico')}"%>">
</head>
<body>

<%= yield %>

</body>
</html>